// Vertical

.spacer-v-1 {
  margin: $spacing-01 0;
}

.spacer-v-2 {
  margin: $spacing-02 0;
}

.spacer-v-3 {
  margin: $spacing-03 0;
}

.spacer-v-4 {
  margin: $spacing-04 0;
}

.spacer-v-5 {
  margin: $spacing-05 0;
}

.spacer-v-6 {
  margin: $spacing-06 0;
}

.spacer-v-7 {
  margin: $spacing-07 0;
}

.spacer-v-8 {
  margin: $spacing-08 0;
}

.spacer-v-9 {
  margin: $spacing-09 0;
}

.spacer-v-10 {
  margin: $spacing-10 0;
}

.spacer-v-11 {
  margin: $spacing-11 0;
}

.spacer-v-12 {
  margin: $spacing-12 0;
}

.spacer-v-13 {
  margin: $spacing-13 0;
}

// Horizontal

.spacer-h-1 {
  margin: 0 $spacing-01;
}

.spacer-h-2 {
  margin: 0 $spacing-02;
}

.spacer-h-3 {
  margin: 0 $spacing-03;
}

.spacer-h-4 {
  margin: 0 $spacing-04;
}

.spacer-h-5 {
  margin: 0 $spacing-05;
}

.spacer-h-6 {
  margin: 0 $spacing-06;
}

.spacer-h-7 {
  margin: 0 $spacing-07;
}

.spacer-h-8 {
  margin: 0 $spacing-08;
}

.spacer-h-9 {
  margin: 0 $spacing-09;
}

.spacer-h-10 {
  margin: 0 $spacing-10;
}

.spacer-h-11 {
  margin: 0 $spacing-11;
}

.spacer-h-12 {
  margin: 0 $spacing-12;
}

.spacer-h-13 {
  margin: 0 $spacing-13;
}
