.PROJECT-COMPONENT {
    height: auto;
    margin-bottom: 5rem;
    .contact-text {
        color: #5651e5;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.1em;
    }

    .carousel {
        border-radius: 15px;
        border: 1px solid #e5e7eb;
        background-color: rgb(236, 240, 243);
        box-shadow: 0 3px 3px 0 rgba(0, 2, 2, 0), 0 40px 15px -1px #343639;

        transition: transform 0.4s ease-in-out !important;
        &:hover {
            color: #4e83e0;
            z-index: 1;
            transform: scale(1.05);
        }
    }

    .project-deatils {
        h3 {
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: 700;
            margin-bottom: 15px;
            color: #5651e5;
        }
        p {
            line-height: 1.25rem;
            font-weight: 600;
            color: gray;
            margin-bottom: 30px;
        }
    }
    .design-carosal {
        height: 500px;
        img {
            width: 100%;
            aspect-ratio: 6/2;

            // mix-blend-mode: darken;
            object-fit: contain;
            padding: 10px;
        }
    }

    .get-in-touch {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .feel-free-text {
        line-height: 1.25rem;
        font-weight: 600;
        color: gray;
        margin-bottom: 30px;
    }
    .carousel-content {
        img {
            object-fit: fill;
            z-index: -1;
        }
    }
}
