@import '~bootstrap/scss/bootstrap';
@import './views/Login/login.scss';
@import './views/Home/home.scss';
@import './shared/components/Header/header.scss';
@import './views/About/about.scss';
@import './views/Contact/contact.scss';
@import './views/Projects/project.scss';
@import './views/Skills/skills.scss';

.App {
    height: auto;
    background: rgb(236, 240, 243);
}
html,
body {
    height: 100%;
}

/* Apply the background color to the body element */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 240, 243);
}
